################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CMD_online_chatroom.sln
/CMD_online_chatroom.vcxproj
/CMD_online_chatroom.vcxproj.filters
/CMD_online_chatroom.vcxproj.user
/CMD_onli.5C66E923/x64/Debug
/x64/Debug
/CMD_onli.0A806423/x64/Debug
/build
/.clang-format
/.clangd
/CMDoc_client/.vs/CMDoc_client
/CMDoc_client/.vs/CMDoc_client/FileContentIndex
/CMDoc_client/.vs/CMDoc_client/FileContentIndex/a83be7aa-e1ae-4153-b66b-7af51c9de154.vsidx
/CMDoc_client/.vs/CMDoc_client/v17
/CMDoc_client/.vs/CMDoc_client/v17/.suo
/CMDoc_client/.vs/CMDoc_client/v17/Browse.VC.db
/CMDoc_client/.vs/CMDoc_client/v17/DocumentLayout.json
/CMDoc_client/.vs/CMDoc_client/v17/Solution.VC.db
/CMDoc_client/CMDoc_client.sln
/CMDoc_client/CMDoc_client.vcxproj
/CMDoc_client/CMDoc_client.vcxproj.filters
/CMDoc_client/CMDoc_client.vcxproj.user
/CMDoc_server/.vs/CMDoc_server
/CMDoc_server/.vs/CMDoc_server/FileContentIndex
/CMDoc_server/.vs/CMDoc_server/FileContentIndex/62888c25-4dd4-4ad6-bce8-18da35551b59.vsidx
/CMDoc_server/.vs/CMDoc_server/v17
/CMDoc_server/.vs/CMDoc_server/v17/.suo
/CMDoc_server/.vs/CMDoc_server/v17/Browse.VC.db
/CMDoc_server/.vs/CMDoc_server/v17/DocumentLayout.json
/CMDoc_server/.vs/CMDoc_server/v17/Solution.VC.db
/CMDoc_server/CMDoc_server.sln
/CMDoc_server/CMDoc_server.vcxproj
/CMDoc_server/CMDoc_server.vcxproj.filters
/CMDoc_server/CMDoc_server.vcxproj.user
/CMDoc_client/x64/Debug
/CMDoc_server/x64/Debug

.vscode
.cache